@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
body {
  background-color: #9b59b6;
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}
*/

.container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
  overflow: hidden;
  width: 400px;
  max-width: 100%;
  margin-top: 20px;
}

.header {
  background-color: #f7f7f7;
  border-bottom: 1px solid #f0f0f0;
  padding: 5px 50px;
}

.header h2 {
  margin: 0;
}

.form {
  padding: 5px 40px;
}

.form-group {
  margin-bottom: 2px;
  padding-bottom: 2px;
  position: relative;
}

.form-group label {
  display: inline-block;
  margin-bottom: 5px;
}

.form-group input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  font-family: inherit;
  font-size: 14px;
  padding: 10px;
  width: 100%;
}

.form-group.success input {
  border-color: #2ecc71;
}

.form-group.error input {
  border-color: #e74c3c;
}

.form-group i {
  position: absolute;
  top: 40px;
  right: 10px;
  visibility: hidden;
}

.form-group.success i.fa-check-circle {
  visibility: visible;
  color: #2ecc71;
}

.form-group.error i.fa-exclamation-circle {
  visibility: visible;
  color: #e74c3c;
}

.form-group small {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
}

.form-group.error small {
  visibility: visible;
  color: #e74c3c;
}

.form button {
  background-color: blueviolet;
  border: 2px solid #8e440d;
  border-radius: 4px;
  color: #fff;
  display: block;
  padding: 10px;
  font-size: 16px;
  font-family: inherit;
  width: 100%;
}

.message {
  margin-top: 10px;
}
